*.pptx
#*.pdf
Figure5Data/*
MacaqueChartsWorkingPPT.pptx
*.jpg
*.png
*.tiff
RDS/*
data/*
.DS_store
*Data/*
*QCImages/*
AllometricAnalysis.Rmd
AllometricAnalysis/*
Figure3Scripts/
Figure2Images/*.func.gii
Figure4Images/DifferenceMaps/*
SupplementaryPrincipalGradientScripts/*
SupplementaryGAMLSSImages/*.svg
SupplementaryGAMLSSImages/MatrixPlots/*.svg
MilestoneGrowth/Growth/*.func.gii
Figure5Scripts/data/*
MilestoneGrowth/Prop/*func.gii
Figure4Images/MacaquePeaks/*func.gii
Figure4Images/HumanPeaks/Human.Peak.Gifti.Aparc/*
WorkingPPT.pdf
